nav{
    height:70px;
    width:100%;
    padding: 0 2rem;
    display:flex;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0px 1px 3px #ccc;
    position:sticky;
    top:0;
    z-index:99;
}

nav .nav-left, nav .nav-right{
    display:flex;
    align-items: center;
}

nav .nav-left > a> img{
    width:40px;
}

nav .nav-left > input{
    height:40px;
    padding:5px 10px;
    border:none;
    border-radius: 25px;
    outline:none;
    background-color: #eee;
    margin-left: 10px;
}

nav .nav-middle{
    display:flex;
    align-items:center;
    padding-bottom: 5px;
    padding-right: 176px;
}

nav .nav-middle a{
    text-decoration: none;
    color:#333;
    padding:24px;
    margin:0px 20px;
}



nav .nav-middle a > i{
    font-size: 27px;
}

nav .nav-right .profile, .container .left-panel .profile{
    display: block;
    height:30px;
    width:30px;
    background-size: cover;
    border-radius: 50%;
    cursor: pointer;
}

nav .nav-right .notificare ,nav .nav-right .message{
    text-decoration: none;
    color:#333;
    height:40px;
    width:40px;
    border-radius: 50%;
    background:#eee;
    display:grid;
    place-items: center;
    margin-left:1rem;
}

nav .nav-right a > i{
    font-size:18px;
}

.show_effect{
    display: block;
    animation: slide_up 0.6s ease 0s 1 normal none;
    margin: 0px;
    line-height: normal;
    position: absolute;
    top: 100%;
    left: 0px;
    bottom: 200px;
    z-index: 9999;
    background: #ffffff;
    text-align: left;
    /* -webkit-box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08); */
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}